.form {
  display: flex;
  flex-direction: column;
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #2e2f42;
  max-width: 360px;
}

input[name='delay'] {
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  padding: 8px 16px;
  margin-bottom: 16px;
}

fieldset {
  max-width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 24px 48px 8px;
  display: flex;
  align-items: center;
}
